{$define "#page" |
	title = $.page_title ? $.page_title : "YDKJS: Kickstarter"
}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{$insert title $}</title>
<link rel="stylesheet" href="/css/site.css">
</head>
<body>

<div id="notifications"><div class="list"></div><div class="close">X</div></div>

{$partial "#mainnav" $}

{$partial "#content" $}

<script src="{$insert $.bootstrapper $}"></script>

</body>
</html>

{$}


{$define "#mainnav" |
	which_nav = $.logged_in ? "#logged_in_nav" : "#logged_out_nav"
}
	<nav id="mainnav">{$partial which_nav $}</nav>
{$}


{$define "#logged_out_nav" }
	<a href="/">home</a>
{$}


{$define "#logged_in_nav" }
	<a href="/">home</a> | <a href="/profile">profile</a> | <a id="logout" href="#">logout</a>
{$}


{$define "#content" }{$}


{$define "#loading_content" }
<div id="content" class="loading">Loading...</div>
{$}
